.text {
	color: #7E7E7E;
	font: bold 18px Helvetica, Arial, sans-serif;
	letter-spacing: -0.05em;
	line-height: 20px;
	margin: 0px 0px 10px 0px;
}

.link a {
	font-size: 18px;
	color: #002afd;
}

.link a:hover {
	color: #9eaefc;
	text-decoration: underline;
}