$container: 1170px;
$md0: $container+12;
$md1: 1023px;
$md2: 767.98px;
$mdMobile: 430px;
//====================Dynamic adaptive=======================================
@mixin adaptiv-mob($property, $pcSize, $mobSize, $size) {
	$addSize: $pcSize - $mobSize;
	#{$property}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / (#{$size} - 320)));
}
//$property - What changes
//$pcSize - Initial size
//$mobSize - The final size at min.expansion
//$size - The launch width of the container
//===============================================================================
