//NULL_STILE
@import '_nullstyle';

//===================================================================
#root {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.remove-btn {
	margin-right: 0.5rem;
 }
 
 .reminder-enter {
	opacity: 0;
 }
 .reminder-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
 }
 .reminder-exit {
	opacity: 1;
 }
 .reminder-exit-active {
	opacity: 0;
	transition: opacity 500ms ease-in;
 }

