@import "../../static//scss/sample";

.auth {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	padding: 60px 0px 60px 0px;
	background: url(../../static/images/login_registration/background.jpg) 0 0/100% 100% no-repeat;
	z-index: 1;

  &__content {
    background: #f9f9f9;
    background: -moz-linear-gradient(to top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
    background: -webkit-linear-gradient(to top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: -o-linear-gradient(to top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: -ms-linear-gradient(to top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: linear-gradient(to top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    -ms-box-shadow: 0 1px 0 #fff inset;
    -o-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    border: 1px solid #c4c6ca;
    margin: 0 auto;
    padding: 25px 0 60px 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 400px;

	
	@media(max-width: $md2) {
		@include adaptiv-mob(width, 400, 280, 768);
		@include adaptiv-mob(padding-top, 25, 0, 768);
		@include adaptiv-mob(padding-bottom, 80, 15, 768);
	}

    &:after, &:before {
      background: #f9f9f9;
      background: -moz-linear-gradient(to top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
      background: -webkit-linear-gradient(to top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
      background: -o-linear-gradient(to top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
      background: -ms-linear-gradient(to top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
      background: linear-gradient(to top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
      border: 1px solid #c4c6ca;
      content: "";
      display: block;
      height: 100%;
      left: -1px;
      position: absolute;
      width: 100%;
    }
    &:after {
      -webkit-transform: rotate(2deg);
      -moz-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
      -o-transform: rotate(2deg);
      transform: rotate(2deg);
      top: 0;
      z-index: -1;
    }
    &:before {
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      transform: rotate(-3deg);
      top: 0;
      z-index: -2;
    }
  }
  &__title {
    color: #7E7E7E;
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
	 @media(max-width: $md2) {
		@include adaptiv-mob(font-size, 25, 18, 768);
		@include adaptiv-mob(margin-bottom, 30, 10, 768);
	 }
    &:after, &:before {
      content: "";
      height: 3px;
      position: absolute;
      top: 44px;
      width: 27%;
		@media(max-width: $md2) {
			@include adaptiv-mob(top, 44, 18, 768);
		}
    }
    &:after {
      background: rgb(126,126,126);
      right: 0;
    }
    &:before {
      background: rgb(126,126,126);
      left: 0;
    }
  }

	&__form{
		margin: 0 0 20px 0;
		&-input {
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			-ms-border-radius: 30px;
			-o-border-radius: 30px;
			border-radius: 30px;
			-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
			-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
			-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
			-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
			box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
			background: #eae7e7;
			border: 1px solid #c8c8c8;
			color: #777;
			font: 13px Helvetica, Arial, sans-serif;
			margin: 0 0 15px;
			padding: 15px 10px 15px 40px;
			width: 80%;

			&:focus {
				-webkit-box-shadow: 0 0 2px #70f395 inset;
				-moz-box-shadow: 0 0 2px #70f395 inset;
				-ms-box-shadow: 0 0 2px #70f395 inset;
				-o-box-shadow: 0 0 2px #70f395 inset;
				box-shadow: 0 0 2px #70f395 inset;
				background-color: #fff;
				border: 1px solid #70f395;
				outline: none;
			}

			@media(max-width: $md2) {
				@include adaptiv-mob(padding-left, 40, 20, 768);
			}
		}

		&-item{
		position: relative;
		padding: 0 0 20px 0;
		}
		&-error {
			color: red;
		}
		&-label {
			color: #7E7E7E;
			font: bold 17px Helvetica, Arial, sans-serif;
			letter-spacing: -0.05em;
			line-height: 20px;
			@media(max-width: $md2) {
				@include adaptiv-mob(font-size, 17, 15, 768);
			}
		}
		&-checkbox {
			position: absolute;
			bottom: 0;
			left: 20px;
			label {
				color: #7E7E7E;
				font: bold 14px Helvetica, Arial, sans-serif;
				letter-spacing: -0.05em;
				line-height: 20px;
				cursor: pointer;
			}
			input{
				cursor: pointer;
			}
		}
	}

	&__reset_password{
		font: 16px Helvetica, Arial, sans-serif;
		color: #4572f0
	}
	a:hover {
		color: #909399;
		text-decoration: underline;
	}
	a:active {
		color: rgb(205, 198, 198);
	}

}