.header__login {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	width: 100%;
	z-index: 2;

	a {
		position: relative;
		color: #fff;
		font: bold 24px Helvetica, Arial, sans-serif;
		margin: 0px 20px 0px 0px;
		&:first-child::before {
			content: '';
			position: absolute;
			width: 1px;
			background: #fff;
			right: -25%;
			top: 0;
			height: 100%;
		}
		
		&:hover {
			color: #7E7E7E;
			text-decoration: underline;
		}

		&.active {
			color: #e9f282;
		}
	}
}