.reminder{
	padding: 0px 20px;
	margin: 50px 0 0 0;
	&__container {
		display: flex;
		justify-content: space-between;
	}
	&__body {
		font-size: 20px;
	}
	&__data{
		margin: 0px 0px 10px 0px;
	}
	&__text {

	}
}