.reminder{
	padding: 0px 20px;
	margin: 20px 0 0 0;
	background-color: #ffffffad;
	border-radius: 30px;

	&__done {
		background-color: #5efa6dad;
	}

	&__noDone {
		background-color: #ff7373ad;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		padding: 10px 0;
	}
	&__body {
		font-size: 20px;
	}
	&__data{
		margin: 0px 0px 10px 0px;
	}
	&__date-time{
		display: flex;
		gap: 10px;
	}
	&__text {
		font-size: 25px;
		word-break: break-all;
	}
	&__button {
		display: flex;
		align-items: flex-start
	}
}